/***** 공통요소 *****/

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
}

#container {
  background: var(--linkbrary-bg, #F0F6FF);
}

section {
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 0 50px;
}

section>div {
  width: 998px;
  height: 450px;
  display: flex;
  gap: 157px;
  margin: 0 auto;
}

section>div>div {
  /*텍스트박스*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
}

section h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: normal;
}

section p {
  color: #6b6b6b;
  font-family: 'Abel';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

section figure,
section figure img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
  overflow: hidden;
  position: relative;
}

span {
  color: #000;
}


/***** 헤더 *****/

header {
  padding: 20px 200px;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--linkbrary-bg, #F0F6FF);
  z-index: 1;
}

header>div {
  margin: 0 auto;
  max-width: 1503px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>div>a:nth-child(2) {
  padding: 16px 20px;
  width: 128px;
  background: var(--gra-purpleblue-to-skyblue,
      linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5;
}


/***** 메인 *****/

main {
  max-width: 1920px;
  padding: 70px 0 0;
  margin: 70px auto 0;
  overflow: hidden;
}

main>div {
  text-align: center;
}

h1 {
  margin: 0 auto;
  width: 708px;
  height: 160px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

main a {
  display: block;
  margin: 40px auto;
  width: 350px;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue,
      linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: #F5F5F5;
  font-size: 18px;
  font-weight: 600;
}

main figure {
  width: 1200px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}

main figure>div {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px 41px;
  width: 1118px;
  height: 659px;
  border-radius: 25px;
  background: linear-gradient(180deg,
      rgba(196, 196, 196, 0.00) 67.68%,
      #F0F6FF 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

main figure img {
  width: 1118px;
  height: 706.956px;
  margin: 50px 41px;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}


/***** 섹션1 *****/

#section1 {
  padding-top: 120px;
}

#section1 h2 {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


/***** 섹션2 *****/

#section2 h2 {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


/***** 섹션3 *****/

#section3 h2 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


/***** 섹션4 *****/

#section4 figure div {
  position: absolute;
  width: 619px;
  height: 584px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
  top: 55px;
  left: 60px;
}

#section4 h2 {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


/***** 푸터 *****/

footer {
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-family: 'Abel', sans-serif;  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer>div {
  height: 160px;
  padding: 32px 104px 64px;
  background: var(--the-julge-black, #111322);
}

footer>div>div {
  margin: 0 auto;
  max-width: 1695px;
  display: flex;
  justify-content: space-between;
  color: #CFCFCF;
}

#footLeft {
  color: #676767;
}

#footCenter {
  display: flex;
  width: 181.111px;
  gap: 30px;
}

#footCenter a {
  color: #CFCFCF;
}

#footRight {
  display: flex;
  gap: 12px;
}